In [66]:
import pandas as pd
import numpy as np

In [67]:
initial_consultations_df=pd.read_csv('C:/Users/Usuario/Desktop/dados clinica/tablescsv/odoant.csv')

In [68]:
initial_consultations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9057 entries, 0 to 9056
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LANCTO    9057 non-null   int64
 1   CNPJ_CPF  9057 non-null   object
 2   CONTROLE  9057 non-null   int64
 3   ANOTACAO  9057 non-null   object
 4   DATA      9057 non-null   object
 5   USUARIO   8967 non-null   object
 6   TERMINAL  9057 non-null   int64
dtypes: int64(3), object(4)
memory usage: 495.4+ KB

In [69]:
initial_consultations_df.describe()

             LANCTO     CONTROLE     TERMINAL
count   9057.000000  9057.000000  9057.000000
mean   14106.159766     1.989842     3.421663
std     4657.685191     1.588561     3.821761
min     1004.000000     1.000000     2.000000
25%    10901.000000     1.000000     2.000000
50%    15044.000000     1.000000     2.000000
75%    17522.000000     2.000000     2.000000
max    21573.000000    18.000000    16.000000

In [70]:
initial_consultations_df.head()

,LANCTO,CNPJ_CPF,CONTROLE,ANOTACAO,DATA,USUARIO,TERMINAL
0,1004,032.231.620-03,1,3X CARTAO,2020-02-11,SUE,4
1,1008,047.343.900-02,1,"VALOR TOTAL 1000,00 - ENT.200,00+8X100,00 NO C...",2020-02-12,ODONTO,4
2,1057,285.211.370-87,1,ENTRADA DE 500 + 10 VEZES DE XXXX,2020-02-12,GUILHERME,4
3,1063,645.084.550-34,1,DECONTO 100,2020-02-12,ANA CAROLINA,4
4,1190,041.393.770-46,1,CONTRATO ODC + APARELHO,2020-02-28,GUILHERME,2

In [71]:
pd.to_datetime(initial_consultations_df.DATA)

0      2020-02-11
1      2020-02-12
2      2020-02-12
3      2020-02-12
4      2020-02-28
          ...
9052   2025-06-04
9053   2025-06-04
9054   2025-06-04
9055   2025-06-04
9056   2025-06-04
Name: DATA, Length: 9057, dtype: datetime64[ns]

In [72]:
initial_consultations_df['DATA'] = pd.to_datetime(initial_consultations_df.DATA)

In [73]:
initial_consultations_df.drop(labels=['LANCTO','CONTROLE','ANOTACAO','USUARIO','TERMINAL'], axis=1,inplace=True)

In [74]:
initial_consultations_df['CNPJ_CPF_masked'] = initial_consultations_df['CNPJ_CPF'].astype(str).str.replace(r".(?=.{5})", "*", regex=True)

In [75]:
initial_consultations_df.rename(columns={'CNPJ_CPF': 'patient_id_number','DATA':'date','CNPJ_CPF_masked':'patient_id'}, inplace= True)

In [76]:
initial_consultations_df.drop(labels='patient_id_number', axis=1,inplace=True)

In [77]:
initial_consultations_df

           date      patient_id
0    2020-02-11  *********20-03
1    2020-02-12  *********00-02
2    2020-02-12  *********70-87
3    2020-02-12  *********50-34
4    2020-02-28  *********70-46
...         ...             ...
9052 2025-06-04  *********60-91
9053 2025-06-04  *********10-83
9054 2025-06-04  *********60-30
9055 2025-06-04  *********80-91
9056 2025-06-04  *********80-91

[9057 rows x 2 columns]

In [78]:
initial_consultations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9057 entries, 0 to 9056
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        9057 non-null   datetime64[ns]
 1   patient_id  9057 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 141.6+ KB

In [81]:
initial_consultations_df.to_csv('total_clients_df.csv', index=False)

In [82]:
pd.read_csv('total_clients_df.csv')

            date      patient_id
0     2020-02-11  *********20-03
1     2020-02-12  *********00-02
2     2020-02-12  *********70-87
3     2020-02-12  *********50-34
4     2020-02-28  *********70-46
...          ...             ...
9052  2025-06-04  *********60-91
9053  2025-06-04  *********10-83
9054  2025-06-04  *********60-30
9055  2025-06-04  *********80-91
9056  2025-06-04  *********80-91

[9057 rows x 2 columns]